input {
  heartbeat {
    id => 'heartbeat'
    interval => 60
    message  => 'logstash'
  }

  udp {
    id => 'docker-logspout'
    port => 25826
    codec => json
  }

  syslog {
    id => 'docker-syslog'
    port => 5001
  }
}

output {
  elasticsearch {
    hosts    => [ 'elasticsearch' ]
  }
}